/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 25, 2024, 7:41:29 PM
    Author     : THINH
*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;      
    margin: 0 auto;
    padding: 1rem;
    max-height: 100%;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #343a40;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-1, .my-1 {
    margin-top: 0.25rem !important;
}

.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}

.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

.card-text {
    margin-bottom: 1.25rem;
}

.flex {
    display: flex;
}

.space-x-2 > * + * {
    margin-left: 0.5rem;
}
.d-flex {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Bạn có thể điều chỉnh độ rộng theo ý muốn */
    height: 100%;
    background-color: #04605E; /* Màu nền của sidebar */
    overflow-y: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
    z-index: 1000; /* Đảm bảo sidebar luôn ở trên các thành phần khác */
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.sidebar .nav-link:hover, .sidebar .nav-link.isActive {
    background-color: #035a57;
}


.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa; /* Example background color */
    color: #343a40; /* Example text color */
}